$class: "menu";

.#{$class} {
	list-style-type: none;
	// pointer-events: auto;
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: space-around;
	padding: 0;
	margin: 0;
}

.#{$class}-input {
	display: none;

	@for $i from 1 through $total-pages {
		&:nth-of-type(#{$i}):checked + .card {
			left: 0vh;
		}
	}
}

.#{$class}-back-button {
	position: fixed;
	bottom: 0;
	right: 0;
	color: $white;
	background-color: $dark-purple;
	padding: 5vw;
	padding-right: 1vw;
	transition: 0.25s;
	border-top-left-radius: 100%;
	z-index: 99999;
}

.#{$class}-wrapper {
	list-style-type: none;
	position: fixed;
	height: 100%;
	top: 0;
	right: 0;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	// pointer-events: none;
}

.#{$class}-wrapper {
	width: 100%;
	height: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	padding: 0;
	margin: 0;
	// background-color: $darken;
}

##{$class}-back-button {
	display: none;

	&:not(:checked) ~ .menu .menu-item {
		transform: scaleX(0) scaleY(0);
	}

	&:checked  ~ .#{$class}-back-button {
		bottom: -10vh;
	}
}

.#{$class}-background {
	width: 100%;
	height: 100%;
	display: block;
	position: fixed;
	top: 50vh;
	border-top-left-radius: 100%;
	transition: 0.35s ease-out;
	opacity: 0;
	
	##{$class}-back-button:checked + & {
		background-color: $darken;
		border-top-left-radius: 0%;
		top: 0vh;
		opacity: 1;
	}
}

%#{$class}-item {
	position: relative;
	width: $item-width;
	height: $item-width;
	margin: 1vw;
	background-color: $dark-purple;
	border-radius: 0.2rem;
	transition: .75s;
}

.#{$class}-item {
	@extend %#{$class}-item;

	&:hover {
		background-color: $dark-red;
	}

	@for $i from 1 through $total-pages {
		&:nth-of-type(#{$i}) {
			transition-delay: 0.025s * $i;
		}
	}
}



// This varition is for "home" and "about" menu only
.#{$class}-item-black {
	@extend %#{$class}-item;

	background-color: $dark-blue;
}

.#{$class}-link {
	text-decoration: none;
	color: white;
	height: 100%;
	justify-content: center;
	align-items: center;
	display: flex;
}
