$class: "menu";

.#{$class} {
	list-style-type: none;
	// pointer-events: auto;
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: space-around;
	padding: 0;
	margin: 0;
}

.#{$class}-input {
	display: none;

	@for $i from 1 through $total-pages {
		&:nth-of-type(#{$i}):checked + .card {
			left: 0vh;
		}
	}
}

.#{$class}-back-button {
	position: fixed;
	bottom: 0;
	right: 0;
	color: $white;
	background-color: $dark-purple;
	padding: 5vw;
	padding-right: 1vw;
	transition: 0.25s;
	border-top-left-radius: 100%;
}

.#{$class}-wrapper {
	list-style-type: none;
	position: fixed;
	height: 100%;
	top: 0;
	right: 0;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	// pointer-events: none;
}

.#{$class}-wrapper {
	width: 100%;
	height: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	padding: 0;
	margin: 0;
	// background-color: $darken;
}

##{$class}-back-button {
	display: none;

	&:not(:checked) ~ .menu .menu-item {
		transform: scaleX(0) scaleY(0);
	}

	&:checked  ~ .#{$class}-back-button {
		bottom: -10vh;
	}
}

.#{$class}-background {
	width: 100%;
	height: 100%;
	display: block;
	position: fixed;
	top: 50vh;
	border-top-left-radius: 100%;
	transition: 0.35s ease-out;
	opacity: 0;
	
	##{$class}-back-button:checked + & {
		/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#2e3a44+0$dark-grey+100 */
		background: $darken; /* Old browsers */
		background: -moz-linear-gradient(top,  $darken 0%, $dark-grey 100%); /* FF3.6-15 */
		background: -webkit-linear-gradient(top,  $darken 0%,$dark-grey 100%); /* Chrome10-25,Safari5.1-6 */
		background: linear-gradient(to bottom,  $darken 0%,$dark-grey 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$darken', endColorstr='$dark-grey',GradientType=0 ); /* IE6-9 */

		border-top-left-radius: 0%;
		top: 0vh;
		opacity: 1;
	}
}

%#{$class}-item {
	position: relative;
	width: $item-width;
	height: $item-width;
	margin: 1vw;
	background-color: $dark-purple;
	border-radius: 50%;
	transition: .75s;
	border: 0.3rem solid $white;
}

.#{$class}-item {
	@extend %#{$class}-item;

	margin-bottom: 2rem;
	font-size: 0.8rem;
	text-align: center;

	&:hover {
		background-color: $dark-red;
	}

	@for $i from 1 through $total-pages {
		&:nth-of-type(#{$i}) {
			transition-delay: 0.025s * $i;
		}
	}
}



// This varition is for "home" and "about" menu only
.#{$class}-item-black {
	@extend %#{$class}-item;

	background-color: $dark-blue;
}

.#{$class}-link {
	text-decoration: none;
	color: $white;
	height: 100%;
	justify-content: center;
	align-items: center;
	display: flex;
	font-size: 2.5rem;
}

.#{$class}-label {
	color: $white;
}
