$class: "menu";

.#{$class}-wrapper {
	list-style-type: none;
	position: fixed;
	height: 100%;
	top: 0;
	right: 0;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	pointer-events: none;
}

.#{$class}-wrapper {
	width: 100%;
	height: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	padding: 0;
	margin: 0;
	background-color: $darken;
}

.#{$class} {
	list-style-type: none;
	pointer-events: auto;
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: space-around;
	padding: 0;
	margin: 0;
}

.#{$class}-item {
	position: relative;
	width: $item-width;
	height: $item-width;
	justify-content: center;
	align-items: center;
	margin: 1.2vw;
	display: flex;
	background-color: $dark-purple;
	border-radius: 0.2rem;
	transition: .75s;

	&:hover {
		background-color: $dark-red;
	}
}

// This varition is for "home" and "about" menu only
.#{$class}-item-black {
	@extend .#{$class}-item;

	background-color: $dark-blue;
}

.#{$class}-link {
	text-decoration: none;
	color: white;
}
