extends _layouts/base

include _modules/link/link

block meta
  - title = site.data.info.meta.title
  - description = site.data.info.meta.description
  - subtitle = site.data.info.meta.subtitle

block content
  .parallax
    .parallax-layer.parallax-layer-back
      h1 #{title}
    .parallax-layer.parallax-layer-base
      h2 #{subtitle}
    .parallax-layer.parallax-layer-deep
      h3 #{description}
